@mixin custom-button {
  margin-right: $xxs;
  padding: 1.5em;
  border-radius: $xxs;
  border: none;
}

@mixin floating($radius: 0.5em, $shadow: 0px 0px 12px 11px rgba(0, 0, 0, 0.222), $border: 1px solid rgba(255, 255, 255, 0.49)) {
  border-radius: $radius;
  box-shadow: $shadow;
  border: $border;
}

@mixin grid($elements-per-line) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;

  > * {
    width: calc((100% / #{$elements-per-line}) - 1%);
  }
}
