/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,
a,
button {
  color: rgba(244, 244, 244, 0.5843137255);
}

header,
#hero-section {
  background-color: #640fc5;
}

#logo {
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

a,
button {
  font-size: 0.5em;
}

#logo {
  font-size: 1.25em;
  font-weight: 800;
}

.padding-block-sm {
  padding-block: 0.25em;
}

.margin-block-sm {
  margin-block: 0.25em;
}

.padding-block-nm {
  padding-block: 1em;
}

.margin-block-nm {
  margin-block: 1em;
}

.padding-block-md {
  padding-block: 1.5em;
}

.margin-block-md {
  margin-block: 1.5em;
}

.padding-block-lg {
  padding-block: 3em;
}

.margin-block-lg {
  margin-block: 3em;
}

.padding-block-xl {
  padding-block: 4em;
}

.margin-block-xl {
  margin-block: 4em;
}

.padding-block-xxl {
  padding-block: 6em;
}

.margin-block-xxl {
  margin-block: 6em;
}

.padding-inline-sm {
  padding-inline: 0.25em;
}

.margin-inline-sm {
  margin-inline: 0.25em;
}

.padding-inline-nm {
  padding-inline: 1em;
}

.margin-inline-nm {
  margin-inline: 1em;
}

.padding-inline-md {
  padding-inline: 1.5em;
}

.margin-inline-md {
  margin-inline: 1.5em;
}

.padding-inline-lg {
  padding-inline: 3em;
}

.margin-inline-lg {
  margin-inline: 3em;
}

.padding-inline-xl {
  padding-inline: 4em;
}

.margin-inline-xl {
  margin-inline: 4em;
}

.padding-inline-xxl {
  padding-inline: 6em;
}

.margin-inline-xxl {
  margin-inline: 6em;
}

.first-button {
  background-color: #0e6cff;
}

.second-button {
  background-color: #ff8700;
}

.third-button {
  background-color: #4caf50;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.25em;
}

#hero-section {
  width: 100%;
  position: relative;
}
@keyframes fadeIn {
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
#hero-section h1 {
  opacity: 0%;
  transform: translateY(-2.2em);
  animation: fadeIn 800ms ease 400ms forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
#hero-section p {
  opacity: 0%;
  transform: translateY(11em);
  animation: fadeIn 800ms ease 400ms forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
#hero-section .first-button {
  opacity: 0%;
  transform: translateY(15em);
  animation: fadeIn 800ms ease 900ms forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
#hero-section .second-button {
  opacity: 0%;
  transform: translateY(15em);
  animation: fadeIn 800ms ease 1100ms forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
#hero-section .third-button {
  opacity: 0%;
  transform: translateY(15em);
  animation: fadeIn 800ms ease 1300ms forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
#hero-section img {
  opacity: 0%;
  transform: translateY(-4.9rem);
  animation: fadeIn 800ms ease 200ms forwards;
}
#hero-section #headline {
  width: 50%;
}
#hero-section #headline h1 {
  font-size: 3.5em;
  font-weight: 800;
  letter-spacing: -3px;
  color: #28064f;
}
#hero-section #headline p {
  line-height: 1.5em;
}
#hero-section #headline button {
  margin-right: 0.25em;
  padding: 1.5em;
  border-radius: 0.25em;
  border: none;
}
#hero-section img {
  width: 28.5em;
  position: absolute;
  bottom: -3.5em;
  right: 6em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 12px 11px rgba(0, 0, 0, 0.222);
  border: 1px solid rgba(255, 255, 255, 0.49);
}

#grid-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}
#grid-section > * {
  width: calc(100% / 4 - 1%);
}
#grid-section img {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 12px 11px rgba(0, 0, 0, 0.088);
  border: none;
}/*# sourceMappingURL=style.css.map */